*{
    padding: 0px;
    margin: 0px;
}

.user-game{
    max-width: 500px;
    margin: 0px auto;
 
    padding: 35px 35px 50px 35px;
    margin-top: 50px;
    background-color: #ffffff ;
}

.form-control{
    border-radius: 0px !important;
}
.form-label{
    font-weight: 600;
    font-size: 18px;
}
.heading{
    padding: 0px 0px 15px 0px;
    text-align: center;
    text-transform: uppercase;
}
.heading p{
    font-size: 25px !important;
    font-weight: 700;

}